.container {
  width: 1160px;
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

section:not(:first-child) .title {
  margin-top: 100px;
}

.title {
  margin-bottom: 50px;
}
.title h2 {
  color: rgba(0, 0, 0, 0.75);
}

.shell {
  margin: 100px 0;
}

.btn {
  width: 185px;
  height: 45px;
  text-align: center;
  background-color: #ffe054;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.btn:hover {
  filter: drop-shadow(0px 0px 10px rgba(255, 224, 84, 0.9));
}
.btn a {
  font-family: "Days One", sans-serif;
  font-size: calc(32px / 2);
  padding: 13px 0;
  display: block;
}

.display_none {
  display: none;
}

.button_wrapper {
  cursor: pointer;
  border-radius: 5px;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
}

.button_wrapper.small {
  width: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 45px;
  row-gap: 90px;
}

@media screen and (max-width: 1160px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    column-gap: 30px;
    row-gap: 70px;
  }
}
@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
.AboutUs .hero {
  background-color: #00aec5;
  border-radius: 5px;
  padding: 80px;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}
.AboutUs .hero__title {
  width: 80%;
}
.AboutUs .hero__title h1 {
  font-size: calc(32px + 23px);
}
.AboutUs .hero__subtitle {
  width: 65%;
  margin-top: 15px;
}
.AboutUs .hero__subtitle h3 {
  font-size: calc(32px - 8px);
}
.AboutUs .subject {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  color: #ffffff;
  margin-top: 70px;
}
.AboutUs .subject__item {
  background-color: #bcbaba;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 325px;
  height: 120px;
  padding: 20px 25px;
}
.AboutUs .subject__img {
  margin-right: 40px;
}
.AboutUs .card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  text-align: center;
}
.AboutUs .card__item {
  width: 255px;
  height: 385px;
}
.AboutUs .card__title_inner {
  margin-bottom: 35px;
}
.AboutUs .card__title {
  margin-top: 20px;
}
.AboutUs .card__title h4 {
  font-size: calc(32px - 6px);
}
.AboutUs .card__inner {
  padding: 30px 65px;
  border: 1px solid #00aec5;
  border-radius: 5px;
}
.AboutUs .countries {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  text-align: center;
}
.AboutUs .countries__img {
  margin-bottom: 15px;
}
.AboutUs .countries__title h4 {
  font-size: calc(32px - 6px);
}
@media screen and (max-width: 1160px) {
  .AboutUs .subject {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 35px;
  }
  .AboutUs .subject__item:last-child {
    grid-column: 1/3;
  }
  .AboutUs .card {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
  }
  .AboutUs .countries {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
  }
}
@media screen and (max-width: 910px) {
  .AboutUs .hero {
    position: relative;
  }
  .AboutUs .hero__img {
    position: absolute;
    opacity: 0.4;
    right: 8%;
    top: 25%;
  }
}
@media screen and (max-width: 768px) {
  .AboutUs .hero {
    padding: 40px;
  }
  .AboutUs .subject {
    grid-template-columns: 1fr;
  }
  .AboutUs .subject__item:last-child {
    grid-column: 1/2;
  }
  .AboutUs .countries {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 610px) {
  .AboutUs .card {
    grid-template-columns: 1fr;
  }
  .AboutUs .countries {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 340px) {
  .AboutUs .hero {
    padding: 25px;
  }
  .AboutUs .hero__title {
    width: 100%;
  }
  .AboutUs .hero__title h1 {
    font-size: 32px;
  }
  .AboutUs .hero__subtitle {
    width: 100%;
  }
  .AboutUs .hero__img {
    top: 2%;
    right: 2%;
  }
  .AboutUs .subject__item {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.module.css.map */
