.header_bottom .nav, .header_bottom, .active, .header_top .content_wrapper, .header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 1160px;
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

section:not(:first-child) .title {
  margin-top: 100px;
}

.title {
  margin-bottom: 50px;
}
.title h2 {
  color: rgba(0, 0, 0, 0.75);
}

.shell {
  margin: 100px 0;
}

.btn {
  width: 185px;
  height: 45px;
  text-align: center;
  background-color: #ffe054;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.btn:hover {
  filter: drop-shadow(0px 0px 10px rgba(255, 224, 84, 0.9));
}
.btn a {
  font-family: "Days One", sans-serif;
  font-size: calc(32px / 2);
  padding: 13px 0;
  display: block;
}

.display_none {
  display: none;
}

.button_wrapper {
  cursor: pointer;
  border-radius: 5px;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
}

.button_wrapper.small {
  width: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 45px;
  row-gap: 90px;
}

@media screen and (max-width: 1160px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    column-gap: 30px;
    row-gap: 70px;
  }
}
@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
.header_bottom .nav, .header_bottom, .active, .header_top .content_wrapper, .header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@font-face {
  font-family: "Days One", sans-serif;
  src: url("./DaysOne-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
.header {
  padding: 20px 0;
  box-shadow: 0 21px 30px rgba(0, 0, 0, 0.03);
}

.header_top .content_wrapper {
  width: 466px;
}

.search_wrapper {
  position: relative;
  transition: all 0.3s ease-in-out;
}
.search_wrapper .search_inner {
  position: absolute;
  top: 0;
  right: 50px;
}
.search_wrapper .search_inner input[name=search] {
  padding: 12px 0 12px 20px;
  width: 390px;
  border: 2px solid #d9d9d9;
  border-radius: 5px 0 0 5px;
  font-family: "Days One", sans-serif;
}
.search_wrapper .search {
  border-radius: 0 5px 5px 0;
}

.button_wrapper.big {
  width: 145px;
  position: relative;
}

.button_wrapper.big h5 {
  margin-left: 10px;
  color: #ffffff;
  font-size: calc(32px - 18px);
}

.active {
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 30px;
  background-color: #ffe054;
  border-radius: 50%;
  top: -15px;
  right: -15px;
}
.active p {
  font-family: "Days One", sans-serif;
  font-size: calc(16px - 2px);
}

.heart:hover svg path {
  fill: #ff0000;
}
.heart--active {
  position: relative;
}
.heart--active svg path {
  fill: #ff0000;
}

.header_bottom {
  padding-top: 25px;
}
.header_bottom .nav {
  width: 376px;
}
.header_bottom .nav a {
  transition: 0.2s ease-in-out;
  color: rgba(0, 0, 0, 0.75);
  padding: 7px 11px;
}
.header_bottom :global a.active,
.header_bottom :global a:hover {
  color: #ffffff;
  background-color: #d9d9d9;
  padding: 7px 11px;
  box-shadow: 0 0 5px #d9d9d9;
  border-radius: 5px;
}
.header_bottom .tel a {
  color: rgba(0, 0, 0, 0.75);
}

/*# sourceMappingURL=styles.module.css.map */
