@font-face {
    font-family: 'M PLUS Rounded 1c';
    src: local('Rounded Mplus 1c'), local('RoundedMplus1c-Regular'), url('Roundedmplus1c.woff2') format('woff2'), url('Roundedmplus1c.woff') format('woff'), url('Roundedmplus1c.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'M PLUS Rounded 1c Medium';
    src: local('Rounded Mplus 1c Medium'), local('RoundedMplus1c-Medium'), url('Roundedmplus1cmedium.woff2') format('woff2'), url('Roundedmplus1cmedium.woff') format('woff'), url('Roundedmplus1cmedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

