@import '../../../layout/scss/common';
@import '../../../layout/scss/variables';

.contacts {
    color: $white;

    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 35px;

        .grid_bottom {
            display: grid;
            grid-template-columns: 1fr 1fr 2fr;
        }
    }

    .grid {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 35px;

        &__item.grid_first {
            background: linear-gradient(102.74deg, #bcbaba 52.56%, #5fb4bf 52.56%, #00aec5 97.08%);
        }

        &__item {
            background-color: $primary-color;
            border-radius: $border-radius;

        }

        &__inner {
            padding: 30px;
            display: flex;
            justify-content: space-between;
            height: 278px;
        }

        &__inner.link_bottom {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__subtitle {
            margin-top: 20px;
        }

        &__btn {
            margin-top: 55px;
            width: 174px;
            border: 1px solid $white;
            border-radius: $border-radius;
            text-align: center;

            a {
                padding: 15px;
                display: block;
            }
        }
    }
}
